@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MarketTool>

<h1>Market tools</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tool in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => tool.ID)
                </td>
                <td>
                    @Html.DisplayFor(item => tool.Name)
                </td>
                <td>
                    @Html.DisplayFor(item => tool.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@tool.ID">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
